<html>
  <head>
    <style>
      #button { background-color:#EEE; cursor:pointer; }
      .error {
        border: 2px solid red;
        font-family: Arial;
        padding: 5px;
      }
    </style>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>